.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  text-align: center;
  position: relative;
  transition: transform 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05); /* Hover efekti */
}

.product-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.product-image:hover {
  transform: scale(1.1); /* Hover efekti */
}

.product-content {
  margin-top: 10px;
}

.product-name {
  font-size: 16px;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  color: #666;
}

.product-price {
  font-size: 14px;
  color: #333;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-button.favorited {
  color: red;
}
